[submodule "nixpkgs"]
	path = nixpkgs
	url = ../nixpkgs
[submodule "reflex"]
	path = reflex
	url = ../reflex
[submodule "reflex-dom"]
	path = reflex-dom
	url = ../reflex-dom
[submodule "reflex-todomvc"]
	path = reflex-todomvc
	url = ../reflex-todomvc
[submodule "ghcjs-websockets"]
	path = ghcjs-websockets
	url = git@github.com:Saulzar/ghcjs-websockets.git
[submodule "entropy"]
	path = entropy
	url = git@github.com:Saulzar/entropy.git
